.navbar-toggler{
    border: none;
    
}
.navbar-toggler-icon {
    background-image: url("assets/images/menu-hamburger.png");
    width: 28px;
    height: 20px;
}
.logo-brand {
    width: 100%;
    height: 100%;
    max-width: 117px;
    max-height: 30px;
}
.btn-nav-close {
    width: 28px;
    height: 20px;
}
.lang-fag {
    width: 100%;
    height: 100%;
    max-height: 20px;
    align-items: center;
    justify-content: center;
}

.nav-divder {
    height: 18px;
    width: 1px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: #48484880;
}